<app-header [search]="data.search" (searchEventEmitter)="onSearchSubmitted($event)"></app-header>

<!-- Carousel -->
<app-carousel></app-carousel>
<!-- End Carousel -->

<!-- Features -->
<app-features [featuresSectionData]="data.features"></app-features>
<!-- End Features -->

<!-- About -->
<app-about [aboutData]="data.about" (elementCreated)="onElementCreated($event)"></app-about>
<!-- End About -->

<!-- Address -->
<app-address [addressSectionData]="data.address"></app-address>
<!-- End Address -->

<!-- Contact -->
<app-contact></app-contact>
<!-- End Contact -->
<app-register (formRegisterOutput)="onRegisterSubmitted($event)"></app-register>

<app-button></app-button>

<app-footer></app-footer>
