<section id="contact" class="my-5">
  <div class="container">
    <h1 class="text-center mb-4">Contato</h1>
    <div class="mb-3">
      <label for="email" class="form-label"
        >Email</label
      >
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        [(ngModel)]="formData.email"
      />
    </div>
    <div class="mb-3">
      <label for="message" class="form-label"
        >Mensagem</label
      >
      <textarea
        class="form-control"
        id="message"
        rows="3"
        [(ngModel)]="formData.message"
      ></textarea>
    </div>
    <button class="btn btn-primary" [disabled]="btnDisabled" (click)="submitForm()">Enviar</button>
  </div>
</section>
